{% extends 'base/dashBoardBase.html'%}
{% block content %}

<div class='row'>
  <!-- FIST COLUMN -->
  <div class="col s4">

    <div class="col s12 center search input-field">
      <center><p>Members</p></center>

      <div class="scrollable3">
      {% for member in members %}
              <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle light-blue accent-4">person</i>
                  <center><span class="title">{{member.name}} {{member.lastName}}</span></center>
                  <center><p>{{member.email}}</p></center>
                  <center><p>{{member.position}}</p></center>
                  <a href="{{url_for('removeUserM', id = member.idPerson, issue = issue, date = date, idMeeting = idMeeting)}}" class="secondary-content"><i class="material-icons">close</i></a>
                </li>
              </ul>
        {% endfor %}
      </div>
    </div>

  </div>

  <!-- SECOND COLUMN -->
  <div class="col s8">
    <div class="row">
      <form class="col s12" id="sendDocument" method="POST" enctype="multipart/form-data">
        <div class="row">
          <!-- Issue -->
          <div class="input-field col s6">
            <i class="material-icons prefix">email</i>
            <label>Issue: {{issue}}</label>
          </div>
          <!-- Date -->
          <div class="input-field col s6">
            <i class="material-icons prefix">date_range</i>
            <label>Date: {{date}}</label>
          </div>
          <br><br><br>
          <!-- Text area -->
          <textarea rows="200" cols="20" name="body"></textarea>
        </div>

        <!-- <form class="col s12" id="sendBill" method="POST"  enctype="multipart/form-data"> -->

        <div class="file-field input-field">
             <div class="btn-small light-blue accent-4"><i class="material-icons left">file_upload</i>
               <span>Keys</span>
               <input enctype= "multipart/form-data" type="file" multiple="" name = 'file[]'>
             </div>
             <div class="file-path-wrapper ">
               <input class="file-path validate" type="text" style="text-align:center">
             </div>
          </div>
          <center><button class="waves-effect waves-light btn-small light-blue accent-4" type='submit'><i class="material-icons left">send</i>Confirm</button></center>

      <!--</form>-->

        {% if flag %}
        <script>
          swal("Memorandum sent sucessfully", "", "success");
        </script>
        {% endif %}
      </form>
    </div>
  </div>








{% endblock %}
