{% extends 'base/dashBoardBase.html'%}
{% block content %}

<table class = "striped highlight centered responsive-table">
  <thead>
    <tr>
        <th>#Meeting</th>
        <th>Date</th>
        <th>Issue</th>
        <th>Members</th>
        <th>In charge</th>
    </tr>
  </thead>

  <tbody>
      <!-- Si tenemos juntas que desplegar -->
      <!-- Por cada junta -->
      {%for r in rel%}
        {%if r.idPerson == idP%}
          {% for m in meetings%}
            {%if m.idMeeting == r.idMeeting%}
              <tr>
              <!-- Imprimimos su fecha y el issue -->
              <td class = "green lighten-3">{{m.idMeeting}}</td>
              <td>{{m.date}}</td>
              <td>{{m.issue}}</td>

              <td>
                <!-- Members -->
                  <!-- Todo este for es para mostrar a TODOS los usuarios de la junta -->
                  {% for r2 in rel%}
                    {%if r2.idMeeting == m.idMeeting%}
                      {% for u in users %}
                        {%if u.idPerson == r2.idPerson%}
                            <ul>
                              <li>{{u.name}} {{u.lastName}}</li>
                            </ul>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}


              </td>
                  <!--  Esta parte es para ver si quien visualiza la pantalla es el creador de esa junta -->
                  {% if idP == m.idPerson %}
                      {%if m.path == "ruta"%}
                      <td>  <a href="{{url_for('emitBill', idMeeting = m.idMeeting, issue = m.issue, date = m.date)}}" class="btn-floating btn-small waves-effect waves-light orange approved"><i class="material-icons">group</i></a></td>
                      {% else%}
                        <td>Completed</td>
                      {%endif%}
                  <!-- Si no es encargado, entonces solo es un miembro más. -->
                  {% elif idP != m.idPerson %}
                      <td>Member</td>

                  {% endif %}
              </tr>
            {%endif%}
          {% endfor %}
        {%endif%}
      {%endfor%}

  </tbody>
</table>


{% endblock %}
