{% extends 'base/dashBoardBase.html'%}
{% block content %}

<br><br><br>
<div class='row'>
	<div class="scrollable2">
		<div class="col s12">
		    <form class="col s12" id="pubMemo" method="POST"  enctype="multipart/form-data">
		      	<center>
			      		<p>{{issue}}<p>
			      		<p>{{fecha}}<p><br>
			      	{%if contenido != "ruta"%}
			       		<p>{{contenido}}<p>
			       	{%else%}
			       		<p>La minuta aun no ha sido registrada<p>
			      	{%endif%}
		    	</center>  
		    </form>
		</div>
	</div>
</div>

{% endblock %}
