{% extends 'base/adminDashBoardBase.html'%}
{% block content %}

<div class='row'>

  <div class="col s4">

    <ul class="collapsible">
       <li>

         <div class="collapsible-header" ><i class="material-icons">filter_none</i>Bill</div>
         <div class = "collapsible-body">
          {% for r in rel_m_u %}
            {% for m in meetings %}
              {%if m.idMeeting == r.idMeeting%}
                <div class = "documento">
                  <div class = "row">
                  <div class = "col s8">
                    <center><p>{{m.issue}}</p></center>
                  </div>
                  <div class = "col s2">
                    <center><a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">done</i></a></center>
                  </div>
                  <div class = "col s2">
                    <center><a class="btn-floating btn-small waves-effect waves-light light-blue accent-4"><i class="material-icons">remove_red_eye</i></a></center>
                  </div>
                 </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
         </div>
     </ul>

  </div>


  <div class="col s4">
    <ul class="collapsible">
       <li>
         <div class="collapsible-header"><i class="material-icons">filter_none</i>Memorandum</div>
         {%for mem in memo%}
          {%if mem.memo_type == '1'%}
            <div class="collapsible-body">
              <div class = "row">
                <div class = "col s8">
                  <span>{{mem.title}}</span>
                </div>
                <div class = "col s2">
                  <center><a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">done</i></a></center>
                </div>
                <div class = "col s2">
                  <center><a class="btn-floating btn-small waves-effect waves-light light-blue accent-4"><i class="material-icons">remove_red_eye</i></a></center>
                </div>
              </div>
          </div>
          {%endif%}
         {%endfor%}
       </li>
     </ul>
  </div>


  <div class="col s4">
    <ul class="collapsible">
       <li>
         <div class="collapsible-header"><i class="material-icons">lock_outline</i>Confidential Memorandum</div>
         {% for r in rel_memo%}
          {%for m in memo%}
            {%if m.idMemo == r.idMemo%}
            <div class="collapsible-body">
              <div class = "row">
                <div class = "col s8">
                  <span>{{m.title}}</span>
                </div>
                <div class = "col s2">
                  <center><a class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">done</i></a></center>
                </div>
                <div class = "col s2">
                  <center><a class="btn-floating btn-small waves-effect waves-light light-blue accent-4"><i class="material-icons">remove_red_eye</i></a></center>
                </div>
              </div>
          </div>
            {%endif%}
          {%endfor%}
         {% endfor %}

       </li>
     </ul>
  </div>

  </div>

</div>

{% endblock %}
