{% extends 'base/adminDashBoardBase.html'%}
{% block content %}

<div class='row'>
  <div class="col s4">
    <form id="addMember" method="POST">
    <div class="col s12 center search input-field">
    <input placeholder="Search member" class="autocomplet" name="searchField" value=""/>
    <br>
    <br>
    <div style="width:400px;">
    <div style="float: left; width: 200px">
      <button class="waves-effect waves-light btn-small green" type='submit'><i class="material-icons left">group_add</i>Add member</button>
    </div>
    <div style="float: right; width: 200px">
      <a href="{{url_for('removeAll')}}" class="waves-effect waves-light btn-small red" type='submit'><i class="material-icons left">close</i>Remove all</a>
    </div>
  </div>
    </div>
    </form>
    <div class="scrollable">

    {% if dictionary %}
    {% for user in dictionary.values() %}
    {% if user.status == 1 %}
    <ul class="collection">
      <li class="collection-item avatar">
        <i class="material-icons circle light-blue accent-4">person</i>
        <center><span class="title">{{user.name+' '+user.lastName}}</span></center>
        <center><p>{{user.position}} </p></center>
        <center><p>{{user.email}}</p></center>
        <a href="{{url_for('removeUser', id = user.idPerson)}}" class="secondary-content"><i class="material-icons">close</i></a>
      </li>
    </ul>
    {% endif %}
    {% endfor %}
    {% endif %}
    </div>


  </div>
  <div class="col s8">
    <div class="row">

      <form class="col s12" id="sendDocument" method="POST"  enctype="multipart/form-data">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">email</i>

            <input placeholder="Subject" id="title" type="text" name = "subject">
          </div>
          <div class="input-field col s6">

            <select class="browser-default" name = "memorandumType">

              <option value="" disabled selected><p>Select type of memorandum</p></option>
              <option value="1"><p> Public Memorandum</p></option>
              <option value="2"><p>Confidential Memorandum</p></option>
            </select>

            </div>
              <textarea rows="200" cols="20" name="body"></textarea>
        </div>
      <div class="file-field input-field">
           <div class="btn-small light-blue accent-4"><i class="material-icons left">file_upload</i>
             <span>Private key</span>
             <input type="file" name = 'file'>
           </div>
           <div class="file-path-wrapper ">
             <input class="file-path validate" type="text">
           </div>
        </div>

        <center>
          <center><button class="waves-effect waves-light btn-small light-blue accent-4">Send<i class="material-icons left">send</i> <input type="submit" value=""></button></center>

       </center>


        {% if flag %}
        <script>
          swal("Memorandum sent sucessfully", "", "success");
        </script>
        {% endif %}
      </form>


    </div>

  </div>


  </div>

  <script>
    {% if users %}
    $(document).ready(function(){
    	$('input.autocomplet').autocomplete({
    		data: {
          {% for user in users%}
          {% if user.status == 1 %}
    			   {{user.username}}: null,
          {% endif %}
          {% endfor %}

    		},
    	});
    });
    {% endif %}
  </script>




{% endblock %}
