{% extends 'base/adminDashBoardBase.html'%}
{% block content %}

<table class = "striped highlight centered responsive-table">
  <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Position</th>
    </tr>
  </thead>

  <tbody>
      {% if users %}
        {% for user in users%}
        {% if user.status == 1 %}
            <tr>
            <td>{{user.idPerson}}</td>
            <td>{{user.name}}    </td>
            <td>{{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}   </td>
            <td>{{user.position}}</td>
          </tr>
        {% endif %}
        {% endfor %}
      {% endif %}


  </tbody>
</table>



{% endblock %}
