{% extends 'base/adminDashBoardBase.html'%}
{% block content %}



<table class = "striped highlight centered responsive-table">
  <thead>
    <tr>
        <th>Date</th>
        <th>Issue</th>
        <th>Members</th>
        <th>In charge</th>
    </tr>
  </thead>

  <tbody>
      {% if meetings%}
        {% for m in meetings%}
            <tr>

            <!-- Verificar que pertezca a la junta -->
            <td class = "green lighten-3">{{m.date}}</td>
            <td>{{m.issue}}</td>

            <!-- Members -->
                <!-- Mostrar todos los miembros -->
                {% for r in rel%}
                  {%if r.idMeeting == m.idMeeting%}
                    {% for u in users %}
                      {%if u.idPerson == r.idPerson%}
                        <td>
                          <ul>
                            <li>{{u.name}}</li>
                          </ul>
                        </td>
                        <!-- Si es encargado de la junta, poner el boton para poder crear la minuta -->
                        <!-- Es decir, el botón tendra el link para crear la minuta de esa junta -->
                       
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                {% if idP == m.idPerson %}
                    <td>  <a href="{{url_for('generateKeys', id = m.idPerson)}}" class="btn-floating btn-small waves-effect waves-light green approved"><i class="material-icons">vpn_key</i></a></td>

                <!-- Si no es encargado, entonces solo es un miembro más. -->
                {% elif idP != m.idPerson %}
                    <td>Member</td>

                {% endif %}
            </tr>
        {% endfor %}
      {% endif %}
  </tbody>
</table>


{% endblock %}
