{% extends 'base/adminDashBoardBase.html'%}
{% block content %}



<table class = "striped highlight centered responsive-table">
  <thead>
    <tr>
        <th>Date</th>
        <th>Issue</th>
        <th>Members</th>
        <th>In charge</th>
    </tr>
  </thead>

  <tbody>
      <!-- Si tenemos juntas que desplegar -->
      {% if meetings%}
      <!-- Por cada junta -->
        {% for m in meetings%}
            <tr>

            <!-- Imprimimos su fecha y el issue -->
            <td class = "green lighten-3">{{m.date}}</td>
            <td>{{m.issue}}</td>

            <!-- Members -->
                <!-- Todo este for es para mostrar a TODOS los usuarios de la junta -->
                {% for r in rel%}
                  {%if r.idMeeting == m.idMeeting%}
                    {% for u in users %}
                      {%if u.idPerson == r.idPerson%}
                        <td>
                          <ul>
                            <li>{{u.name}}</li>
                          </ul>
                        </td>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                <!--  Esta parte es para ver si quien visualiza la pantalla es el creador de esa junta -->
                {% if idP == m.idPerson %}
                    <td>  <a href="{{url_for('generateKeys', id = m.idPerson)}}" class="btn-floating btn-small waves-effect waves-light green approved"><i class="material-icons">vpn_key</i></a></td>

                <!-- Si no es encargado, entonces solo es un miembro más. -->
                {% elif idP != m.idPerson %}
                    <td>Member</td>

                {% endif %}
            </tr>
        {% endfor %}
      {% endif %}
  </tbody>
</table>


{% endblock %}
