{% extends 'base/adminDashBoardBase.html'%}
{% block content %}

<table class = "striped highlight centered responsive-table">
  <thead>
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Position</th>
        <th>Approve</th>
        <th>Reject</th>
    </tr>
  </thead>

  <tbody>
      {% if usersRequests %}
        {% for userRequest in usersRequests%}
        {% if userRequest.status != 1 %}
            <tr>
            <td>{{userRequest.name}}    </td>
            <td>{{userRequest.lastName}}</td>
            <td>{{userRequest.username}}</td>
            <td>{{userRequest.email}}   </td>
            <td>{{userRequest.position}}</td>
            <td>  <a href="{{url_for('UsersRequests', id = userRequest.idPerson, option = 'Approve')}}" class="btn-floating btn-small waves-effect waves-light green approved"><i class="material-icons">done</i></a></td>
            <td>  <a href="{{url_for('UsersRequests', id = userRequest.idPerson, option = 'Reject')}}" class="btn-floating btn-small waves-effect waves-light red"><i    class="material-icons">delete_forever</i></a></td>
          </tr>
        {% endif %}
        {% endfor %}
      {% endif %}


  </tbody>
</table>


{% endblock %}
