{% extends 'base/anonymousUserBase.html'%}

{% block content %}

<div id = "particles-js"></div>
<div class="contenedor texto">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


  <div class='row'>
      <div class="col s6">
        <div class = "centered">
        <br>
        <br>
        <br>

        <img class="circle responsive-img" src="../static/img/logo2.png" width="435">
        <br>
        <br>
        <br>
        <div>
          <center><a class="pulse waves-effect waves-light btn-small  light-blue accent-4" href="login"><i class="material-icons right">person</i>&nbsp&nbspLogin&nbsp</a></center>
        </div>
        </div>

      </div>
  </div>
</div>


<div class="principal contenedor">
  <article>
    <h4 class="titulo">About</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h4 class="titulo">Our services</h4>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </article>

</div>


<script type = "text/javascript" src = "../../static/js/particles.js"></script>
<script type = "text/javascript" src = "../../static/js/app.js"></script>


{% endblock %}
