<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="../../static/css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../../static/css/dashBoardStyle.css" media="screen,projection" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="../../static/js/materialize.js"></script>

  <title>Index</title>
</head>

<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>

<nav>
    <div class="nav-wrapper light-blue accent-4">
      <ul class="left hide-on-med-and-down">
        <li class="active"><a href="/"><i class="material-icons left">home</i>Dashboard</a></li>
        <li><a href="sass.html"><i class="material-icons left">business_center</i>About</a></li>
        <li><a href="sass.html"><i class="material-icons left">cloud</i>Our Services</a></li>
        <li><a href="sass.html"><i class="material-icons left">contacts</i>Contact us</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>


     </ul>
    </div>
  </nav>

<style>

</style>

<body>

  {% block content %}
  {% endblock%}

</body>

</html>
