{% extends 'base/RHDashboardBase.html'%}
{% block content %}

<table class = "striped highlight centered responsive-table">
  <thead>
    <tr>
        <th>Date</th>
        <th>Issue</th>
        <th>Members</th>
        <th>In charge</th>
    </tr>
  </thead>

  <tbody>
      {% if meetings%}
        {% for meeting in meetings%}
            <tr>

            <!-- Verificar que pertezca a la junta -->
            {% if user.status == 1 %}
                <td class = "green lighten-3">{{meeting.date}}</td>
                <td>{{meeting.issue}}</td>

                <!-- Members -->
                <td>
                  <ul>
                    <!-- Mostrar todos los miembros -->
                    {% for member in meetings %}
                      <li>{{member.name}}</li>
                    {% endfor %}
                  </ul>
                </td>
                <!-- Si es encargado de la junta, poner el boton para poder crear la minuta -->
                <!-- Es decir, el botón tendra el link para crear la minuta de esa junta -->
                {% if user.status == 1 %}
                    <td>  <a href="{{url_for('generateKeys', id = user.idPerson)}}" class="btn-floating btn-small waves-effect waves-light green approved"><i class="material-icons">vpn_key</i></a></td>

                <!-- Si no es encargado, entonces solo es un miembro más. -->
                {% elif user.status == 0 %}
                    <td>Member</td>

                {% endif %}

            {% endif %}
            </tr>
        {% endfor %}
      {% endif %}
  </tbody>
</table>


{% endblock %}
