{% extends 'base/dashBoardBase.html'%}
{% block content %}


<div class='row'>

  <div class="col s4">

    <ul class="collapsible">
       <li>
         <div class="collapsible-header"><i class="material-icons">filter_none</i>Minute</div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>
     </ul>

  </div>


  <div class="col s4">
    <ul class="collapsible">
       <li>
         <div class="collapsible-header"><i class="material-icons">filter_none</i>Memorandum</div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>       </li>
     </ul>
  </div>


  <div class="col s4">
    <ul class="collapsible">
       <li>
         <div class="collapsible-header"><i class="material-icons">lock_outline</i>Confidential Memorandum</div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>
         <div class="collapsible-body"><span>Document.</span></div>       </li>
     </ul>
  </div>

  </div>

</div>


{% endblock %}
