{% extends 'base/anonymousUserBase.html'%}

{% block content %}

<div id = "particles-js"></div>

<div class="principal">

  <div class='row'>
      <div class="col s6">
        <div class = "centered">
        <img class="circle responsive-img" src="../static/img/logo2.png">
        <br>
        <br>
        <br>
        <center>
        <div>
            <div style="float: left; width: 150px">
              <a class="waves-effect waves-light btn-small  light-blue accent-4" href="login"><i class="material-icons right">person</i>&nbspLogin&nbsp</a>
            </div>
            <div style="float: right; width: 150px">
              <a class="waves-effect waves-light btn-small  light-blue accent-4" href="register"> <i class="material-icons right">person_add</i>Request</a>
            </div>
        </div>
        </center>
        </div>
      </div>
  </div>
</div>


<script type = "text/javascript" src = "../../static/js/particles.js"></script>
<script type = "text/javascript" src = "../../static/js/app.js"></script>



{% endblock %}
